# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intellij\freelec-springboot2-webservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
